.clearspace {
  padding-bottom: env(safe-area-inset-bottom);
}
.riptus-web-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
}
.riptus-web-riptus-web {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
.riptus-web-contact {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 1;
  margin: 0 0 160px;
}
.riptus-web-text {
  color: rgba(0, 0, 0, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 44px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 11px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-contact-group {
  width: 825px;
  height: 830px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: column;
  margin-bottom: 100px;
  top: 80px;
}
.riptus-web-imag-ebefore {
  top: 51px;
  left: 0px;
  width: 130px;
  height: 10px;
  position: absolute;
}
.riptus-web-text-contact {
  letter-spacing: -1.6px;
}
.riptus-web-text002 {
  top: 86px;
  left: 1.95458984375px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text008 {
  top: 272px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-spanwpcf7formcontrolwrap {
  top: 300px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.riptus-web-input {
  width: 823px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 0.10999999940395355);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 253, 253, 1);
}
.riptus-web-text010 {
  top: 361px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-spanwpcf7formcontrolwrap1 {
  top: 390px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.riptus-web-input1 {
  width: 823px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 0.10999999940395355);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 253, 253, 1);
}
.riptus-web-text012 {
  top: 451px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-spanwpcf7formcontrolwrap2 {
  top: 479px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
}
.riptus-web-input2 {
  width: 823px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 0.10999999940395355);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 253, 253, 1);
}
.riptus-web-text014 {
  top: 540px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-spanwpcf7formcontrolwrap3 {
  top: 569px;
  left: 0px;
  height: 145px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.riptus-web-textarea {
  width: 823px;
  height: 145px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 0.10999999940395355);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 253, 253, 1);
}
.riptus-web-button {
  left: 0px;
  width: 102px;
  bottom: 57px;
  height: 39px;
  display: flex;
  padding: 12px 18px 11px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background-size: cover;
  justify-content: center;
  background-image: url('/wp-content/themes/riptus/public/tq_cifztiv-d4-mh3p-200h.png');
}
.riptus-web-text016 {
  top: 12px;
  left: 33px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-service {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}
.riptus-web-group14 {
  width: 832px;
  height: 564px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  margin-top: 72px;
}
.riptus-web-text018 {
  font-size: 44px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 74px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: -1.5px;
}
.riptus-web-text020 {
  top: 160px;
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-imag-ebefore1 {
  top: 76px;
  left: 3px;
  width: 130px;
  height: 10px;
  position: absolute;
}
.riptus-web-text022 {
  top: -52px; 
  color: rgba(60, 60, 59, 1);
  /* width: 450px; */
  height: auto;
  /* position: absolute; */
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 29px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 1.7px;
  display: block;
  margin-top: 36px;
}
.riptus-web-group12 {
    width: 458px;
    height: 119px;
    letter-spacing: 1.6px;
}
.riptus-web-text024 {
  top: 50px;
  left: 0;
  color: rgba(0, 0, 0, 1);
  width: 307px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 1px;
}
.riptus-web-text021 {
  width: 300px;
  letter-spacing: -0.5px;
  position: unset;
  display: block;
  margin: 18px 0 46px;
  text-align: left;
  line-height: 25px;
}
.riptus-web-text030 {
  left: 4.0439453125px; 
  color: rgba(60, 60, 59, 1);
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 29px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-divimg {
  right: 0;
  width: 302px;
  height: 504px;
  position: absolute;
  object-fit: cover;
}
.riptus-web-blog {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.riptus-web-blogs {
  width: 838px;
  position: relative;
  margin-top: 72px;
}
.riptus-web-text032 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 44px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 44px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: -1.6px;
}
.riptus-web-blog2 {
  /* top: 54px; */
  width: 692px;
  height: 175px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: row;
  gap: 50px;
}
.blog-img {
  width: 236px;
  height: 175px;
  position: relative;
  object-fit: cover;
}
.riptus-web-group54 {
  font-family: 'Montserrat';
  width: 412px;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 3px;
  gap: 5px;
}
.riptus-web-text034 {
  /* left: 0.77001953125px; */
  color: rgba(176, 152, 254, 1);
  height: auto;
  position: relative;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text036 {
  /* left: 3px;
  top: 27px; */
  color: rgba(60, 60, 59, 1);
  width: 415px;
  height: auto;
  max-height: 90px;
  position: relative;
  font-size: 24px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 1.6px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.riptus-web-frame7 {
  margin-top: 10px;
  gap: 25px;
  /* top: 142px;
  left: 5px; */
  display: flex;
  position: relative;
  align-items: flex-start;
  width: 375px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3.5px;
  line-height: 20px;
}
.riptus-web-text040 {
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-link {
  width: 1px;
  height: 20px;
}
.riptus-web-link01 {
  width: 95px;
  height: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(66, 134, 245, 1);
  border-radius: 20px;
}
.riptus-web-text042 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  height: 20px;
  font-size: 12px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text042-secondary {
  display: none;
  width: 95px;
  height: 20px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(66, 134, 245, 1);
  border-radius: 20px;
}
.riptus-web-blog-link {
  display: flex;
  flex-direction: row;
  margin-left: 18px;
  gap: 15px;
}
.riptus-web-text044 {
  color: rgba(60, 60, 59, 1);
  width: 91px;
  height: auto;
  font-size: 12px;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 3px;
}
.riptus-web-text101 {
  top: 109px;
  left: -40px;
  color: rgb(0, 0, 255);
  right: 0px;
  width: 882px;
  height: 223px;
  margin: auto;
  position: absolute;
  font-size: 153px;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 200px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-blog1 {
  top: 135px;
  width: 694px;
  height: 192px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.riptus-web-link965121d7bc51cc30a31c50ddd0b9157c3eee98cfpng {
  top: 0px;
  left: 0px;
  width: 236px;
  height: 192px;
  position: absolute;
}
.riptus-web-text046 {
  top: 15px;
  left: 285px;
  color: rgba(176, 152, 254, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text048 {
  top: 40px;
  left: 282px;
  color: rgba(60, 60, 59, 1);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 1.6px;
  width: 415px;
}
.riptus-web-frame8 {
  gap: 22px;
  top: 135px;
  left: 285px;
  width: 375px;
  height: 27px;
  display: flex;
  position: absolute;
  align-items: center;
  width: 375px;
  height: 27px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3.5px;
  line-height: 20px;
}
.riptus-web-text054 {
  color: rgba(0, 0, 0, 1);
  width: 102px;
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 3.5px;
  white-space: nowrap;
}
.riptus-web-link02 {
  width: 1px;
  height: 20px;
}
.riptus-web-link03 {
  width: 95px;
  height: 20px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(66, 134, 245, 1);
  border-radius: 20px;
}
.riptus-web-text056 {
  width: 100%;
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text058 {
  color: rgba(60, 60, 59, 1);
  height: auto;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-imag-ebefore2 {
  margin-top: 15px;
  margin-left: 2px;
  width: 130px;
  height: 10px;
  position: relative;
  object-fit: cover;
}
.riptus-web-blog-items {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin: 24px 0 28px;
}
.all-blogs-title {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Montserrat';
  margin-bottom: 32px;
}
.riptus-web-team {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.riptus-web-team1 {
  left: 5px;
  width: 838px;
  height: 396px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.riptus-web-sv-gbefore {
  top: 71px;
  left: 0px;
  width: 130px;
  height: 10px;
  position: absolute;
}
.riptus-web-ellipse1 {
  top: 100px;
  left: 500px;
  position: absolute;
}
.riptus-web-text060 {
  top: 8px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 44px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text062 {
  top: 96px;
  color: rgb(176, 152, 254);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 3px;
}
.riptus-web-text063 {
  top: 120px;
  color: rgb(60, 60, 59);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 29px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: 1.6px;
}
.riptus-web-text064 {
  top: 160px;
  color: rgba(0, 0, 0, 1);
  width: 426px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: -0.5px;
}
.riptus-web-about {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.riptus-web-about-us {
  width: 854px;
  height: 363px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: space-between;
  left: 15px;
  top: -50px;
  gap: 45px;
}
.riptus-web-rectangle6 {
  width: 239px;
  height: 363px;
  position: relative;
}
.riptus-web-rectangle6-2 {
  display: none;
}
.riptus-web-about-right {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 100%;
  justify-content: center;
}
.riptus-web-text068 {
  display: flex !important;
  flex-direction: column;
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: relative;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
  margin-top: 10px;
}
.riptus-web-abouttext-list {
  margin: 0 0 0 28px;
  font-weight: normal;
}
.riptus-web-text070 {
  color: #000000;
  font-size: 16px;
  font-family: "Montserrat";
  line-height: 27px;
  text-decoration: none;
}
.riptus-web-text074 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: relative;
  font-size: 44px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 58px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: -0.5px;
}
.riptus-web-text076 {
  margin-top: 25px;
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  position: relative;
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: "Montserrat";
  font-weight: 500;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-sv-gbefore1 {
  /* top: 128px;
  left: 283px; */
  width: 130px;
  height: 10px;
  position: relative;
  margin-top: 10px;
}
.riptus-web-welcome {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.riptus-web-menubar {
  position: fixed;
  top: 51px;
  right: 44px;
  z-index: 999;
}
.riptus-web-menubar {
  cursor: pointer;
}
.riptus-web-menubar-container {
  cursor: pointer;
}
.burger-menu .line {
  width: 32px;
  height: 3px;
  background: #000;
  margin: 5px 0;
}
.burger-menu .line-1 {
  margin-top: 0
}
.all-blogs-list-item-image-container {
  padding-top: 20px;
  width: 274px;
  max-width: 274px;
  min-width: 274px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.all-blogs-list-item-image {
  width: 236px;
  height: 175px;
  object-fit: cover;
}
.riptus-web-logo {
  top: 51px;
  left: 51px;
  width: 120px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: fixed;
  align-items: flex-start;
}
.riptus-web-vector {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 40px;
  position: absolute;
}
.riptus-web-vector2 {
  top: -2px;
  left: -2px;
  width: auto;
  height: 40px;
  position: absolute;
}
.riptus-web-text083 {
  top: 9px;
  left: 10px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-sociallink {
  top: 50%;
  transform: translateY(-50%);
  right: 36px;
  width: 20px;
  height: 185px;
  display: flex;
  position: fixed;
  flex-shrink: 1;
  z-index: 999;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.riptus-web-sociallink img{
  width: 20px;
  height: 20px;
}
.riptus-web-footer {
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 20px;
  justify-content: flex-start;
  letter-spacing: 2.5px;
  font-weight: 300;
  z-index: 999;
}
.riptus-web-text085 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-spanseparator {
  width: 10px;
  height: 1px;
  margin: 0px 7px 0px 10px;
}
.riptus-web-text087 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-link08 {
  /* top: 538px; */
  bottom: 50px;
  left: 44px;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
  z-index: 999;
  height: 187px;
}
.riptus-web-link09 {
  width: 17px;
  height: 16.71px;
  margin-bottom: 28px;
}
.riptus-web-text089 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text091 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text093 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text095 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text097 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-text099 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.riptus-web-group52 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 933px;
  height: 470px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.riptus-web-image {
  display: block;
  top: 0px;
  left: 652px;
  width: 302px;
  height: 470px;
  position: absolute;
}
.riptus-web-text102 {
  top: 294px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 882px;
  height: 114px;
  margin: auto;
  position: absolute;
  font-size: 26px;
  font-style: Light;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
  letter-spacing: -0.65px;
  text-align: start;
}
.riptus-web-text-colored {
  top: 413px;
  left: 0px;
  color: #ffffff;
  background: linear-gradient(90deg, #aae3fe 0%, #fec4e7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  right: 0px;
  height: 20px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.5px;
  text-align: center;
}
.s-pv2-image {
  display: none;
}
.sp-only {
  display: none;
}
.pc-only {
  display: block;
}

.frame9-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame9-frame9 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame9-rectangle12 {
  top: 0px;
  left: -9px;
  width: 100%;
  height: 100vh;
  position: absolute;
  border-radius: 0 8px 8px 0;
}
.frame9-imag-ebefore {
  top: 0px;
  left: 0px;
  width: 1000px;
  height: 774px;
  position: absolute;
  opacity: 0.5;
}
.frame9-rectangle11 {
  top: 0px;
  right: 0px;
  width: 420px;
  height: auto;
  position: absolute;
  border-radius: 0 8px 8px 0;
}
.frame9-frame55 {
  gap: 20px;
  top: 127px;
  right: 190px;
  width: 144px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.frame9-text {
  color: rgba(255, 255, 255, 1);
  width: 100px;
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text02 {
  color: rgba(255, 255, 255, 1);
  width: 106px;
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text04 {
  color: rgba(255, 255, 255, 1);
  width: 58px;
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text06 {
  color: rgba(255, 255, 255, 1);
  width: 144px;
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text08 {
  color: rgba(255, 255, 255, 1);
  width: 138px;
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text10 {
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: auto;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-frame551 {
  gap: 21px;
  top: 546px;
  right: 137px;
  width: 200px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Montserrat';
}
.frame9-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 189.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-social-link {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 24px;
  gap: 45px;
}
.frame9-social-link img {
  width: 24px;
  height: 24px;
  object-fit: scale-down;
}

.frame9-frame552 {
  width: 200px; 
  height: 24px;
}
.frame9-vector5 {
  width: 158px;
  height: 2px;
  background: #00D1AA;
}
.frame9-frame553 {
  gap: 6px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame9-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 123.78944158554077%;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  font-style: Light;
  text-align: left;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 123.78944158554077%;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-policy-terms {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
}
.frame9-rectangle14 {
  top: 32px;
  right: 318px;
  width: 80px;
  height: 80px;
  position: absolute;
}
.frame9-cross {
  top: 32px;
  right: 30px;
  width: 73px;
  height: 73px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  cursor: pointer;
}
.frame9-spaniconbar {
  width: 73px;
  height: 73px;
  border-radius: 0.8556946516036987px;
}
.frame9-spaniconbar1 {
  top: 45.4613037109375px;
  left: 28.859130859375px;
  width: 24px;
  height: 2px;
  position: absolute;
  border-radius: 0.8556946516036987px;
}
.more-blogs {
  position: relative;
  display: flex;
  font-family: 'Montserrat';
}
.riptus-sidebar {
  width: 420px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -420px;
  transition: right 0.3s ease;
  z-index: 9999;
  overflow-y: auto;
  background: #000000;
}
.riptus-sidebar.active {
  right: 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/wp-content/themes/riptus/public/rectangle121241-cc7m-1500w.png');
  background-size: cover;
  opacity: 0.6;
  z-index: 999;
  display: none;
}
.riptus-web-logo-new{
  visibility: hidden;
}
/* animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes openweb {
  0% {
    left: 100%;
    width: 0;
    opacity: 0;
  }
  20% {
    left: 100%;
    width: 0;
    opacity: 0;
  }
  55% {
    left: calc(100% - 302px);
    width: 302px;
    opacity: 1;
  }
  100% {
    left: calc(100% - 302px);
    width: 302px;
    opacity: 1;
  }
}
@keyframes open {
  0% {
    left: 100%;
    width: 0;
    opacity: 0;
  }
  20% {
    left: 100%;
    width: 0;
    opacity: 0;
  }
  55% {
    left: calc(100% - 230px);
    width: 230px;
    opacity: 1;
  }
  100% {
    left: calc(100% - 230px);
    width: 230px;
    opacity: 1;
  }
}

/* welcome animation */
.riptus-web-text102,
.riptus-web-text-colored {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.6s;
}

.riptus-web-text101 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.riptus-web-image {
  position: absolute;
  animation: openweb 1s forwards;
}
.s-pv2-image {
  position: absolute;
  animation: open 1s forwards;
}

/* about */
.riptus-web-text074,
.riptus-web-rectangle6 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.riptus-web-sv-gbefore1 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.8s;
}
.riptus-web-text068,
.riptus-web-text070,
.riptus-web-text076 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.9s;
}

/* team */
.riptus-web-text060 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}

.riptus-web-text062,
.riptus-web-text063,
.riptus-web-text064,
.riptus-web-sv-gbefore,
.riptus-web-ellipse1 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.8s;
}

/* service */
.riptus-web-text018 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.riptus-web-imag-ebefore1 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.8s;
}
.riptus-web-text020,
.riptus-web-text022,
.riptus-web-group12,
.riptus-web-divimg {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.8s;
}
.riptus-web-ellipse1 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.8s;
}

/* blog */
.riptus-web-text032,
.more-blogs {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.riptus-web-blog1,
.riptus-web-blog2 {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.riptus-web-blog1.active,
.riptus-web-blog2.active {
  opacity: 0;
  animation: slideUp 0.3s ease forwards;
  animation-delay: 0.8s;
}
.riptus-web-imag-ebefore2 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.7s;
}

/* contact */
.riptus-web-text-contact {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.riptus-web-text {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.riptus-web-imag-ebefore {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.8s;
}
.riptus-web-text002 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 1s;
}
/* contact form 7 */
.wpcf7 {
  top: 140px;
  position: absolute;
  margin: 0;
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* Style labels */
.wpcf7-form label {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}

.wpcf7-form .wpcf7-form-control {
  width: 823px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 0.10999999940395355);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 253, 253, 1);
}

.wpcf7-form .wpcf7-textarea {
  width: 823px;
  height: 145px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(51, 51, 51, 0.10999999940395355);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  background-color: rgba(253, 253, 253, 1);
}

.wpcf7-form .wpcf7-submit {
  width: 102px;
  height: 39px;
  display: flex;
  padding: 12px 18px 11px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 3px;
  background-size: cover;
  justify-content: center;
  background-image: url('/wp-content/themes/riptus/public/tq_cifztiv-d4-mh3p-200h.png');
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-style: Bold;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
  margin: 0 !important;
  border: none;
  cursor: pointer;
}

.wpcf7-response-output {
  margin: 0 !important;
}
.riptus-web-blog-break {
  height: 2px;
  width: 100%;
}
.g-links {
  margin-left: 58px !important;
  margin-bottom: 24px;
  word-break: break-all;
}
.custom-pages-content ol {
  margin-left: -8px !important;
  margin-top: 0;
  margin-bottom: 0;
}
.custom-pages-content .wp-block-columns ul {
  margin-left: 38px !important;
}
.custom-pages-content ul {
  margin-left: 20px;
}
.wp-list-type{
  list-style-type: disc;
}
.custom-pages-container {
  display: flex;
  justify-content: center;
  padding: 70px 0;
  width: 896px;
  margin: auto;
  text-align: justify;
}
.custom-pages-content {
  font-family: 'Montserrat';
  width: 100%;
  padding: 50px 0;
}
.custom-pages-content .wp-block-heading {
  margin: 24px 0 24px;
}
.custom-pages-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}
p.has-text-align-right,
p.first-line-text,
p.sec-line-text {
    margin-bottom: 15px;
}
.all-blogs-list-item-button-readmore {
  font-size: 14px;
  font-family: Montserrat;
  padding-right: 10px;
}
.all-blogs-list-item-button {
  width: 95px;
  height: 20px;
  background-color: #4286f5;
  border-radius: 20px;
  color: #fff;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  font-family: Montserrat;
  font-stretch: normal;
}
.riptus-web-text002 span {
  display: block;
}
.wpcf7-form-control-wrap textarea {
  resize: none;
}
.all-blogs-list-item-body {
  padding-top: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.all-blogs-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 72px;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
.single-blog-content {
  margin: 0 100px;
  width: 62%;
  line-height: 1.5;
  font-family: 'Montserrat';
}
.single-blog-image {
  width: 600px;
  height: 338px;
  margin: auto;
  object-fit: cover;
  margin-top: 30px;
}
.single-blog-title {
  text-align: left;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: 38px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 1.9px;
}
.riptus-me-image {
  position: absolute;
  opacity: 0;
}
.custom-list-1 {
  counter-reset: item;
  list-style-type: none;
}
.custom-list-1 {
  counter-increment: item;
  position: relative;
  margin: 24px 12px;
}
.custom-list-1::before {
  content: "â ";
  position: absolute;
  left: -1em;
  font-size: 20px;
  top: -1px;
  font-family: 'Montserrat';
}
.custom-list-2 {
  counter-reset: item;
  list-style-type: none;
  margin: 24px 12px;
}
.custom-list-2 {
  counter-increment: item;
  position: relative;
}
.custom-list-2::before {
  content: "â¡";
  position: absolute;
  left: -1em;
  font-size: 20px;
  top: -1px; 
  font-family: 'Montserrat';
}


@media screen and (max-width: 767px) {
  .riptus-web-text021 {
    margin: 30px auto;
  }
  .border-gradient {
    border-width: 27px 27px 27px 27px;
  }
  .riptus-web-service {
    align-items: baseline;
    margin: 100px auto;
    height: auto;
  }
  .riptus-web-text102 span {
    display: block;
  }
  .riptus-web-logo {
    top: 24px;
    left: 24px;
  }
  .riptus-web-vector {
    width: 86px;
    height: 33px;
  }
  .riptus-web-text083 {
    font-size: 12px;
    font-weight: 700px;
  }
  .riptus-web-menubar {
    top: 26px;
    right: 26px;
  }
  .riptus-web-about {
    height: auto;
    margin: 100px auto;
  }
  .riptus-web-text101 {
    top: 120px !important;
    left: -10px;
    color: rgb(0, 0, 255);
    right: 0px;
    width: 882px;
    height: 223px;
    margin: auto;
    position: absolute;
    font-size: 153px;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 200px;
    font-stretch: normal;
    text-decoration: none;
  }
  .riptus-web-text-colored {
    top: 395px;
    left: 5px;
  }
  .custom-pages-content a {
    overflow-wrap: break-word;
  }
  .riptus-web-abouttext-list {
    margin-left: 14px;
  }
  .frame9-rectangle11 {
    width: 100vw;
    left: 0;
  }
  .frame9-frame55 {
    top: 135px;
    left: 80px;
    gap: 10px;
  }
  .frame9-text,
  .frame9-text02,
  .frame9-text04,
  .frame9-text06,
  .frame9-text08,
  .frame9-text10 {
    font-size: 24px;
    letter-spacing: -0.5px;
    font-weight: 400;
    line-height: 30px;
  }
  .frame9-frame551 {
    left: 80px;
    top: 468px;
  }
  .frame9-vector5 {
    width: 132px;
    height: 2px;
  }
  .frame9-policy-terms {
    gap: 12px;
  }

  .frame9-imag-ebefore {
    display: none;
  }
  .riptus-web-image {
    display: none;
  }
  .s-pv2-image {
    display: block;
    top: 20px;
    left: 115px;
    width: 230px;
    height: 340px;
    position: absolute;
  }
  .riptus-web-group52 {
    width: 338px;
    height: 391px;
  }
  .riptus-web-text101 {
    top: 101px;
    height: auto;
    position: absolute;
    font-size: 60px;
    font-style: Bold;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 60px;
    font-stretch: normal;
    text-decoration: none;
    width: 100%;
  }
  .riptus-web-link08 {
    display: none;
  }
  .riptus-web-text102 {
    top: 230px;
    left: -10px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Light;
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
    width: 100%;
  }
  .riptus-web-sociallink img {
    width: 17px;
    height: 17px;
  }
  .riptus-web-sociallink {
    right: 20px;
  }
  .sp-only {
    display: block;
  }
  .riptus-web-about-us {
    width: 338px;
    height: auto;
    text-align: center;
    display: block;
    position: unset;
    margin-top: 72px;
  }
  .riptus-web-about-right {
    width: 100%;
    display: block;
    height: auto;
  }
  .riptus-web-rectangle6 {
    display: block;
    width: 207px;
    height: 238px;
    position: unset;
    align-self: center;
    margin: 20px auto;
  }
  .riptus-web-sv-gbefore1 {
    position: relative;
    transform: translateX(-50%);
    object-fit: cover;
    margin: auto;
    margin-top: 10px;
  }
  .pc-only {
    display: none;
  }
  .text-container{
    display: flex;
    justify-content: center;
  }
  .riptus-web-text076 {
    margin-top: 20px;
    align-self: center;
    color: rgb(0, 0, 0);
    width: auto;
    height: auto;
    position: relative;
    font-size: 16px;
    font-style: normal;
    text-align: left;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 27px;
    font-stretch: normal;
    text-decoration: none;
    display: block;
    width: 300px;
    letter-spacing: -1.6px;
  }
  .riptus-web-text074 {
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .riptus-web-text068 {
    align-self: center;
    display: flex !important;
    flex-direction: column;
    gap: 23px;
    left: 0;
    width: 300px;
    display: block;
    text-align: left;
    line-height: 21px;
    letter-spacing: -1.5px;
    font-weight: 700;
    margin-top: 40px;
  }
  .riptus-web-contact {
    margin: 100px auto;
    align-items: baseline;
    flex-direction: unset;
  }
  .riptus-contact-group {
    margin: 72px auto;
    height: auto;
    position: unset;
    display: block;
    width: 300px;
    margin-bottom: 100px;
  }
  .riptus-web-text {
    text-align: center;
    width: 100%;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.6px;
    position: unset;
    display: block;
    top: 0;
  }
  .riptus-web-imag-ebefore {
    position: unset;
    margin: 12px auto 32px;
  }
  .riptus-web-text002 {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    position: unset;
    display: block;
  }
  .riptus-web-team1 {
    width: 297px;
    height: auto;
    display: block;
    position: unset;
    margin-top: 72px;
  }
  .riptus-web-team {
    margin: 100px auto;
    height: auto;
  }
  .riptus-web-text060 {
    text-align: center;
    width: 100%;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.6px;
    position: relative;
    display: block;
    top: 0;
  }
  .riptus-web-sv-gbefore {
    position: unset;
    margin: 6px auto 16px;
  }
  .riptus-web-text062 {
    text-align: center;
    width: 100%;
    top: 32px;
    position: unset;
    display: block;
  }
  .riptus-web-container {
    width: 100%;
    display: block;
  }
  .riptus-web-text063 {
    text-align: center;
    width: 100%;
    position: unset;
    display: block;
    margin: 8px auto 24px;
  }
  .riptus-web-text064 {
    width: 300px;
    text-align: left;
    letter-spacing: -0.5px;
    position: unset;
    display: block;
  }
  .new-line-text064 {
    display: block;
  }
  .riptus-web-ellipse1 {
    position: unset;
    display: block;
    margin: 20px auto;
  }
  .riptus-web-blogs {
    height: auto;
    position: unset;
    margin-top: 72px;
    display: block;
  }
  .riptus-web-text032 {
    text-align: center;
    width: 100%;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.6px;
    position: relative;
    display: block;
    top: 0;
  }
  .riptus-web-imag-ebefore2 {
    margin-top: 18px;
    position: relative;
    align-self: center;
    margin: 12px auto 20px;
  }
  .riptus-web-blog2 {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }
  .riptus-web-group54 {
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
  }
  .riptus-web-frame7 {
    /* top: 165px;
    width: 280px; */
    align-items: center;
    justify-content: center;
  }
  .riptus-web-text034 {
    /* top: 20px; */
    line-break: nowrap;
    height: 20px;
    overflow: hidden;
    font-size: 12px;
    width: 332px;
    text-align: center;
  }
  .riptus-web-text036 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 29px;
    /* top: 40px; */
    width: 323px;
  }
  .riptus-web-blog-items {
    height: auto;
  }
  .riptus-web-text042-secondary {
    display: flex;
    margin-top: 10px;
  }
  .riptus-web-link01 {
    display: none;
  }
  .riptus-web-text040 {
    width: 106px;
    letter-spacing: 3.5px;
  }
  .riptus-web-text044 {
    letter-spacing: 3px;
  }
  .riptus-web-blog1 {
    top: 450px;
    left: 0;
    width: 328px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .riptus-web-text046 {
    text-align: center;
    letter-spacing: 1px;
    line-height: 29px;
    top: 183px;
    position: relative;
    left: 0;
  }
  .riptus-web-text048 {
    text-align: center;
    letter-spacing: 1px;
    line-height: 29px;
    top: 295px;
    left: 0;
    width: 320px;
    font-size: 20px;
  }
  .riptus-web-frame8 {
    top: 427px;
    left: unset;
    width: 260px;
  }
  .riptus-web-link03 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -30px;
  }
  .riptus-web-text054 {
    width: 106px;
    letter-spacing: 3.5px;
  }
  .riptus-web-text058 {
    letter-spacing: 3px;
    position: relative;
    left: 0;
  }
  .riptus-web-blog {
    height: auto;
    align-items: baseline;
    margin: 100px auto;
  }
  .riptus-web-group14 {
    height: auto;
    position: unset;
    margin-top: 72px;
    display: block;
    width: 332px;
  }
  .riptus-web-group11 {
    width: 100%;
    height: auto;
    position: unset;
    display: block;
    text-align: center;
  }
  .riptus-web-text018 {
    text-align: center;
    width: 100%;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -1.6px;
    position: relative;
    display: block;
    top: 0;
  }
  .riptus-web-imag-ebefore1 {
    margin: 12px auto 20px;
    position: unset;
  }
  .riptus-web-divimg.pc-only {
    display: none;
  }
  .riptus-web-divimg {
    margin: 24px auto;
    position: unset;
  }
  .riptus-web-text022 {
    position: unset;
    display: block;
    text-align: center;
    margin: 30px auto;
    width: 100%;
  }
  .riptus-web-text020 {
    text-align: center;
    line-height: 25px;
    letter-spacing: -0.5px;
    position: unset;
    display: block;
    width: 100%;
  }
  .riptus-web-group12 {
    width: 100%;
    display: block;
    position: unset;
    height: auto;
  }
  .riptus-web-text030 {
    width: 100%;
    letter-spacing: 1.6px;
    position: unset;
    display: block;
    margin-top: 42px;
    text-align: center;
  }
  .riptus-web-text024 {
    width: 300px;
    line-height: 25px;
    letter-spacing: -0.5px;
    position: unset;
    display: block;
    margin: 30px auto;
  }
  .riptus-sidebar {
    width: 100%;
    right: -100%;
    border-radius: 0;
  }
  .riptus-sidebar.active {
    width: 100%;
  }
  .wpcf7 {
    top: 28px;
    left: 2px;
    position: relative;
  }
  .wpcf7-form {
    gap: 13px;
  }
  .wpcf7-form label {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }
  .wpcf7-form .wpcf7-form-control {
    width: 275px;
    height: 40px;
  }
  .wpcf7-form .wpcf7-textarea {
    width: 275px;
    height: 145px;
  }
  .wpcf7-form .wpcf7-submit {
    width: 102px;
    height: 40px;
  }
  .more-blogs {
    align-self: center;
  }
  .wpcf7 form .wpcf7-response-output {
    width: 100%;
    font-size: 14px;
  }
  .custom-pages-content {
    padding: 0px;
    margin: 0 8px;
  }
  .custom-pages-container{
    width: 100%;
    padding: 70px 40px;
  }
  .all-blogs-list-item-body {
    width: 309px;
    align-items: center;
  }
  .single-blog-content img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
  .riptus-web-group52 {
    width: 576px;
  }
  .riptus-web-text101 {
    font-size: 108px;
    width: 535px;
  }
  .riptus-web-text102 {
    top: 266px;
    font-size: 19px;
    font-style: Light;
    text-align: center;
    width: 100%;
  }
  .riptus-web-text-colored {
    top: 508px;
    left: 5px;
  }
  .riptus-web-about-us {
    width: 576px;
    height: auto;
    gap: 30px;
  }
  .riptus-web-rectangle6 {
    width: 40%;
    height: 440px;
    object-fit: cover;
  }
  .riptus-web-abouttext-list {
    margin: 0 0 0 17px;
    font-weight: normal;
  }
  .riptus-web-team1 {
    width: 656px;
    height: 450px;
  }
  .riptus-web-text064 {
    width: 50%;
    padding-right: 20px;
  }
  .riptus-web-ellipse1 {
    height: auto;
    left: 324px;
    top: 80px;
  }
  .riptus-web-blogs {
    width: 594px;
    margin-top: 0px;
  }
  .riptus-web-text036 {
    width: 338px;
    font-size: 20px;
    line-height: 24px;
  }
  .riptus-web-blog2 {
    width: 576px;
    gap: 28px;
  }
  .riptus-web-frame7 {
    width: 332px;
  }
  .riptus-web-text042-secondary {
    display: flex;
    margin-top: 10px;
  }
  .riptus-web-frame7 {
    align-items: center;
  }
  .riptus-web-link01 {
    display: none;
  }
  .more-blogs {
    bottom: 30px;
  }
  .riptus-web-group14 {
    width: 600px;
  }
  .riptus-web-divimg {
    object-fit: cover;
  }
  .riptus-web-text022 {
    width: 286px;
    font-size: 22px;
  }
  .riptus-web-text020 span {
    width: 286px;
  }
  .riptus-web-text030 {
    font-size: 22px;
  }
  .riptus-web-text024 {
    width: 286px;
    top: 48px;
  }
  .riptus-web-text020 {
    top: 180px;
  }
  .riptus-contact-group {
    width: 586px;
  }
  .wpcf7-form {
    width: 586px;
  }
  .wpcf7-form .wpcf7-form-control {
    width: 100%;
  }
  .wpcf7-form .wpcf7-submit {
    width: 102px;
  }
  .all-blogs-list {
    width: 100%;
  }
  .pagination {
    margin: 40px 10px;
  }
  .single-blog-content img {
    max-width: 100%;
  }
  .single-blog-content {
    margin: 22px 45px;
    width: 80%;
  }
  .single-blog-title {
    font-size: 30px;
    line-height: 1.2;
  }
  .custom-pages-content {
    padding: 50px 90px;
    margin: 0;
  }
  .custom-pages-container {
    width: 724px;
  }

}  
