:root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-theme-accent1: #f3e8e2;
  --dl-color-theme-accent2: #d8bfaf;
  --dl-radius-radius-round: 50%;
  --dl-color-theme-primary1: #d1510a;
  --dl-color-theme-primary2: #923a06;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-default-gradient: rgba(170, 227, 254, 1);
  --dl-color-theme-secondary1: #f3e8e2;
  --dl-color-theme-secondary2: #e0d1cb;
  --dl-space-space-threeunits: 48px;
  --dl-color-theme-neutral-dark: #191818;
  --dl-radius-radius-cardradius: 8px;
  --dl-color-theme-neutral-light: #fbfaf9;
  --dl-radius-radius-imageradius: 8px;
  --dl-radius-radius-inputradius: 24px;
  --dl-radius-radius-buttonradius: 24px;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-default-angulargradient: rgba(178, 153, 254, 1);
}
.button {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
.input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
.textarea {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.thq-input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem 1rem;
  align-self: stretch;
  text-align: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-inputradius);
  background-color: var(--dl-color-theme-neutral-light);
}
.thq-button-filled {
  color: var(--dl-color-theme-secondary1);
  cursor: pointer;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-theme-primary1);
}
.thq-button-filled:hover {
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.thq-button-outline {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  border: 1px solid;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.thq-button-outline:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  background-color: var(--dl-color-theme-primary2);
}
.thq-button-flat {
  gap: var(--dl-space-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-family: Noto Sans;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
}
.thq-button-flat:hover {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
.thq-heading-1 {
  font-size: 48px;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 1.5;
}
.thq-heading-2 {
  font-size: 35px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
.thq-heading-3 {
  font-size: 26px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
.thq-body-large {
  font-size: 18px;
  line-height: 1.5;
}
.thq-body-small {
  font-size: 16px;
  line-height: 1.5;
}
.thq-team-image-round {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.thq-section-padding {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
.thq-section-max-width {
  width: 100%;
  max-width: var(--dl-size-size-maxwidth);
}
.thq-img-ratio-1-1 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-imageradius);
}
.thq-img-ratio-16-9 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--dl-radius-radius-imageradius);
}
.thq-img-ratio-4-3 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--dl-radius-radius-imageradius);
}
.thq-img-ratio-4-6 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/6;
  border-radius: var(--dl-radius-radius-imageradius);
}
.thq-img-round {
  width: 100%;
  border-radius: var(--dl-radius-radius-round);
}
.thq-flex-column {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.thq-flex-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
.thq-grid-6 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.thq-grid-5 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.thq-card {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: stretch;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
}
.thq-box-shadow {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.thq-grid-3 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.thq-grid-4 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.thq-grid-2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  place-items: center;
  grid-template-columns: 1fr 1fr;
}
.thq-checkbox {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.thq-select {
  cursor: pointer;
  appearance: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-inputradius);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
}
.thq-divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: var(--dl-color-theme-neutral-dark);
}
.thq-icon-small {
  width: 24px;
  height: 24px;
}
.thq-button-icon {
  fill: var(--dl-color-theme-secondary1);
  padding: var(--dl-space-space-halfunit);
  transition: 0.3s;
  font-family: Noto Sans;
  border-radius: var(--dl-radius-radius-buttonradius);
}
.thq-button-icon:hover {
  fill: var(--dl-color-theme-secondary2);
}
.thq-icon-medium {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.thq-icon-x-small {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.thq-link {
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}
.thq-link:hover {
  opacity: 0.8;
}
.thq-input::placeholder {
  text-align: center;
  vertical-align: middle;
}
.Content {
  font-size: 16px;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
@media (max-width: 991px) {
  .thq-flex-row {
    flex-direction: column;
  }
  .thq-grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .thq-section-padding {
    padding: var(--dl-space-space-threeunits);
  }
  .thq-flex-column {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .thq-flex-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-card {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .thq-grid-3 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr;
  }
}
@media (max-width: 479px) {
  .thq-section-padding {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .thq-flex-column {
    gap: var(--dl-space-space-unit);
  }
  .thq-flex-row {
    gap: var(--dl-space-space-unit);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-space-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-space-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-3 {
    grid-gap: var(--dl-space-space-unit);
    align-items: center;
    grid-template-columns: 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-space-space-unit);
  }
}

@font-face {
  font-family: MontserratRegular;
  src: url('/wp-content/themes/riptus/fonts/montserrat-regular.ttf');
}

@font-face {
  font-family: MontserratBold;
  src: url('/wp-content/themes/riptus/fonts/montserrat-bold.ttf');
}

@font-face {
  font-family: MontserratMedium;
  src: url('/wp-content/themes/riptus/fonts/montserrat-medium.ttf');
}

:root {
  --scrollbar-width: calc(100vw - 100%);
}

html {
  margin: 0 !important;
  font-family: MontserratRegular;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0;
  background: linear-gradient(
    to bottom,
    rgba(253, 163, 231, 1),
    rgba(181, 233, 254, 1)
  ); /* Gradient background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(42, 42, 42, 0.5);
}
/* Hover state for scrollbar handle/thumb */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Color of the scrollbar handle on hover */
}

.cursor-pointer {
  cursor: pointer;
}

.welcome-section {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.welcome-text {
  font-family: MontserratBold;
}

.section-title,
.font-medium {
  font-family: MontserratMedium;
}

.welcome-section .gradient-box {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 25%;
  height: 55%;
  z-index: -1;
}

.welcome-section .gradient-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-text {
  font-size: 15rem;
  list-style: none;
  line-height: 1;
}

.description-button {
  height: 16px !important;
  background-color: #4286f5;
  color: #fff;
  border-radius: 15px;
  font-size: 10px;
  padding: 0 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.description-button-2 {
  display: flex;
}
.description-button-1 {
  display: none;
}

.team-image {
  width: 400px;
  height: 400px;
}
.team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.service-image-1 {
  display: none;
}

.contact-form-button {
  width: 105px;
  height: 40px;
  margin: 10px 0;
  color: #ffffff;
  font-size: 18px;
  background-image: url('/wp-content/themes/riptus/assets/images/button-gradient.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Small devices (sm) */
@media only screen and (max-width: 760px) {
  .welcome-text {
    font-size: 50px;
  }
  .welcome-section .gradient-box {
    left: 40%;
    width: 50%;
    height: 40%;
  }
  .description-button-2 {
    display: none;
  }
  .description-button-1 {
    display: flex;
  }
  .team-image {
    width: 300px;
    height: 300px;
  }
  .service-image-1 {
    display: flex;
  }

  .service-image-2 {
    display: none;
  }
}

.border-gradient {
  position: fixed;
  pointer-events: none;
  z-index: 999;
  width: calc(100vw - var(--scrollbar-width));
  height: 100vh;
  top: 0;
  left: 0;
  border-width: 27px 20px 27px 27px;
  border-style: solid;
  border-image: linear-gradient(
      45deg,
      rgba(178, 153, 254, 1) 0%,
      rgba(178, 153, 254, 1) 13%,
      rgba(217, 205, 245, 1) 25%,
      rgba(181, 233, 254, 1) 36%,
      rgba(192, 238, 251, 1) 63%,
      rgba(235, 217, 235, 1) 75%,
      rgba(253, 163, 231, 1) 86%
    )
    20;
}

.border-gradient img {
  width: 100%;
  height: 100%;
}

.single-blog-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 80px 100px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.single-blog-section .blog-title {
  font-weight: bold;
  font-size: 30px;
  text-align: start;
}

.frame9-social-link .social-link {
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.quick-links {
  height: 15px;
  margin-bottom: 10px;
}

.footer-text {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  z-index: 9;
}

.popup-message {
  position: fixed;
  display: none;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #008710;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.gradient-text {
  background-image: linear-gradient(to right, #aae3fe, #fec4e7);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
}

.wp-block-image .aligncenter {
  margin: 0 auto !important;
}

/*animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-up > * {
  opacity: 0;
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.8s;
}

.animate-welcome-slide-up > * {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}

.animate-slide-left {
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: 0.5s;
}
/*  */
.animate-about-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-img-1-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-img-2-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-slide-up-p-1 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-slide-up-p-5 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}

.animate-slide-up-list-1 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-slide-up-list-2 {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
/*  */

.animate-team-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-team-next-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-image-next-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}

/*  */
.animate-blog-slide-up {
  opacity: 0;
  animation: slideUp 0.1 ease forwards;
  animation-delay: 0.8s;
}

.post-animation {
  opacity: 0;
  transform: translateY(100%);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.post-animation.active {
  opacity: 0;
  animation: slideUp 0.3s ease forwards;
  animation-delay: 0.3s;
}
/*  */
.animate-service-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-service-next-slide-up > * {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
/*  */
.animate-contact-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}
.animate-contact-next-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease forwards;
  animation-delay: 0.5s;
}

@keyframes revealup {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-animation-secondary-title {
  animation: revealup 0.5s ease-in-out forwards;
  animation-delay: 0.25s;
}

.slide-up-animation-title {
  animation: revealup 1s ease-in-out forwards;
  animation-delay: 0.5;
}
.slide-up-animation-image {
  animation: revealup 0.5s ease-in-out forwards;
  animation-delay: 0.25s;
}
.single-blog-date {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
  justify-content: flex-start;
}
.single-blog-date-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 3px;
}
.single-blog-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}
.single-blog-content h1,
.single-blog-content h2,
.single-blog-content h3,
.single-blog-content h4,
.single-blog-content h5,
.single-blog-content h6 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.single-blog-content ul,
.single-blog-content ol {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.single-blog-content blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}

.single-blog-secondary-title {
  font-size: 12px;
  line-height: 27px;
  letter-spacing: 3px;
  font-weight: 500;
  color: rgba(176, 152, 254, 1);
}
.single-blog-list-item-button {
  width: 85px;
  height: 25px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  background-color: rgba(66, 134, 245, 1);
  border-radius: 20px;
  color: #fff;
}
.all-blogs-container {
  display: flex;
  flex-direction: column;
  padding: 110px 100px;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-family: 'Montserrat';
}
.all-blogs-list-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.all-blogs-list-item-secondary-title {
  font-size: medium;
  text-align: center;
  color: rgba(176, 152, 254, 1);
}
.all-blogs-list-item-title {
  font-size: larger;
  font-weight: 500;
  text-align: start;
  font-family: 'Montserrat';
}
.all-blogs-list-item-button-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.all-blogs-list-item-button-group2 {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* .all-blogs-list-item-button-readmore {
  font-size: small;
} */

.all-blogs-list-item-button2 {
  display: none;
  font-size: 9px;
  background: #4286f5;
  height: 18px;
  padding: 0 10px;
  border-radius: 20px;
  align-items: center;
  color: #ffffff;
}

.all-blogs-list-item-date {
  font-size: 14px;
  padding-left: 10px;
}

.pagination .page-numbers {
  padding: 10px;
}

/* Style the previous pagination button */
.pagination .prev {
  /* Add your styles here */
  background-color: #f1f1f1;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

/* Hover effect for pagination buttons */
.pagination .page-numbers:hover {
  background-color: #ddd; /* Change background color on hover */
}

/* Hover effect for the previous pagination button */
.pagination .prev:hover {
  background-color: #ddd;
}

/* Style the active pagination button */
.pagination .page-numbers.current {
  background-color: #007bff; /* Change to your desired background color */
  color: #fff; /* Change to your desired text color */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

/* Hover effect for the active pagination button */
.pagination .page-numbers.current:hover {
  background-color: #0056b3; /* Change to your desired hover background color */
}
/* .custom-pages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 120px 320px 70px 320px;
  width: auto;
}

.custom-pages-content {
  width: 100%;
  display: flex;
  flex-direction: column;
} */
/* .custom-pages-title {
  font-weight: bolder;
  font-size: larger;
} */
.terms-text {
  margin-left: 18px;
}

.terms-text.more-info {
  margin-top: 24px;
  margin-bottom: 24px;
}
.g-analytics {
  margin-bottom: 24px;
}
.mb-24 {
  margin-bottom:24px;
}
.riptus-web-logo {
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .all-blogs-container {
    padding: 70px 20px 70px 20px !important;
  }
  .all-blogs-list-item-container {
    flex-direction: column;
    width: 100%;
  }
  .all-blogs-list {
    width: 100% !important;
    gap: 30px;
  }
  .all-blogs-list-item-image-container {
    width: 80% !important;
    max-width: 80%;
  }
  .all-blogs-list-item-title {
    font-size: medium !important;
    text-align: center;
  }
  .all-blogs-list-item-button-group,
  .all-blogs-list-item-button-group2 {
    width: 100%;
    justify-content: center !important;
    align-items: center !important;
  }
  .single-blog-section {
    width: 100%;
    margin: 0;
    padding: 100px 30px;
    overflow: hidden;
  }
  .single-blog-content {
    margin: 0 !important;
  }
  .single-blog-image {
    width: 236px;
    object-fit: cover;
    height: 175px;
  }
  .single-blog-content {
    width: 90%;
  }
  .border-gradient {
    border-width: 14px;
  }
  /* .custom-pages-container {
    margin: 80px 50px;
  } */
  .single-blog-title {
    font-size: 24px;
    letter-spacing: unset;
    line-height: unset;
  }
}
