* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  font-family: 'Noto Serif JP', serif;
  background-image: url('/route78/assets/overlay.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 500vh
}

ul {
    list-style: none;
}

.text-center {
    max-width: 385px;
    margin: auto;
}
.lg-font-16 {
    font-size: 16px;
}
.pb-10 {
    padding-bottom: 10px;
}
ul.li-align-center li {
    text-align: center;
}

.hero-container {
    overflow: hidden;
    width: 100%;
    position: relative; 
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    color: white;
}

.hero-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/route78/assets/hero-banner.jpg');
}

.wave-container {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    transform: scaleX(-1);
}

.hero-layout {
    height: 70%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content:flex-start;
    padding: 16px;
}

.hero-title {
    padding-top:20px;
}


.scroll-animate-container {
    position: absolute;
    bottom: 12%;
    left: 0;
    animation: bounce 1s ease-in-out infinite;
  }
  
  .scroll-container {
    display: flex;
    font-size: x-small;
    align-items: center;
    gap: 16px;
    transform: rotate(-90deg);
  }

.wave {
    width: 100%;
    position: absolute;
    bottom: -150px;
    left: 0;
}

.scroll-container hr {
    border: none;
    border-top: 1px solid white;
    width: 50px;
}

.hero-title h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
}

.hero-title p {
    font-size: 20px;
    line-height: 40px;
}

.hero-container img {
    height: 140px;
    width: 140px;
    padding: 16px;
}

.hero-layout button {
    color: white;
    align-self: self-end;
    padding: 8px 0;
    padding-left: 16px;
    padding-right: 12px;
    border-radius: 24px;
    font-size: 18px;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #007ADF, #00ECBC);
    border: none;
    cursor: pointer;
    z-index: 10;
    position: fixed;
    bottom: 32px;
    right: 32px;
    opacity: 90%;
    transition: opacity .2s ease-in-out;
}

.hero-layout button:hover {
    background: linear-gradient(90deg, #0071ce, #00d2a8);
    opacity: 100%;
}

.about-container {
    width: 100%;
    padding: 72px 0;
}

.about-layout { 
    max-width: 840px;
    margin: auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 106px
}

.about-layout-one, .shape-animation-layout-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
}

.title-layout-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-layout-content h2 {
    padding: 0 16px;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 10%;
    font-weight: 600;
}

.about-layout-one p, .shape-animation-layout-one p{
    line-height: 36px;
    letter-spacing: 4px;
    text-align: center;
}

.about-layout-one p {
    font-size: 18px;
}

.shape-animation-layout-one p {
    font-size: 16px;
}

.about-layout-two {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.about-layout-two h2 {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 10%;
    font-weight: 600;
}

.about-layout-two p {
    width: 100%;
    font-size: 16px;
    line-height: 32px;
}

.about-layout-three {
    display: flex;
    gap: 56px;
}

.about-layout-three img {
    max-width: 410px;
}


.layout-three-content {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.layout-three-content h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
}

.layout-three-content p {
    line-height: 32px;
    font-size: 16px;
}

hr {
    border: none;
    border-top: 1px solid black;
    width: 40px;
  }

.instructor-container {
    width: 100%;
    padding: 96px 0;
}   

.instructor-list-container, .map-container, .shape-animation-container, .schedule-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    max-width: 840px;
    margin: auto;
    padding: 0 16px;
}

.schedule-list-container {
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 16px;
}
.list-container {
    width: 200px;
    margin: auto;
    padding: 0 10px 0 45px;
}

.map-container h1, .shape-animation-container h1 {
    margin-top: 50px;
    margin-bottom: 0 !important;
}

.map-container p, .map-container ul {
    font-size: 14px;
}

.map-container iframe, .shape-animation-container iframe {
    width: 100%;
}

.instructor-card-header {
    font-size: 20px;
    line-height: 35px;
    font-weight: 600;
    margin-bottom: 16px;
}

.instructor-card-sub {
    font-size: 14px;
    line-height: 26px;
}

.instructor-card {
    display: flex;
    align-items: start;
    gap: 32px;
    padding-top: 20px;
}

.instructor-card img {
    width: 200px;
    height: auto;
}

.schedule-list-container .title-container p {
    font-weight: 600;
    text-align: center;
}

.instructor-container h1, .schedule-container h1, .map-container h1, .shape-animation-container h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 48px;
}

.shape-animation-container {
    padding: 0 16px 96px 16px;
}

.shape-animation-container .custom-button {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #0034B8;
  color: #0034B8;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s; /* Adding transition for smooth effect */
}

.shape-animation-container .custom-button:hover {
  background-color: #0034B8;
  color: #fff;
}

.footer-container {
    width: 100%;
    background-color: black;
    color: #ffffff;
}

.footer-upper {
    height: 488px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 74px;
    max-width: 840px;
    margin: auto;
    padding: 0 16px;
}
  
.footer-container img {
    align-self: center;
    height: 140px;
    width: 140px;
}

.footer-content {
    font-size: 14px;
    line-height: 25px;
    text-align: start;
    margin: 0;
    padding: 0;
  }

.footer-copyright {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #405064;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.sp, .pc {
    margin-bottom: 32px;
}
.sp {
    display: none;
}
.pc {
    display: block;
}


/* resonsive start here  */

@media (max-width: 2560px) {

    .wave-container{
        bottom:-150px;
    }

    .hero-container img {
        height: 160px;
        width: 160px;
        padding: 32px;
    }

    .hero-layout {
        gap: 32px;
        padding-top: 100px;
        padding-bottom: 200px;
        margin: 0 auto;
        max-width: 1400px;
        height: 60vh;
    }

    .scroll-animate-container {
        bottom: 20%; 
    }
}

@media (max-width:1440px) {
    .wave-container {
        bottom: -50px;
    }
    .hero-layout {
        gap: 32px;
        padding-top: 100px;
        padding-bottom: 200px;
        margin: 0 auto;
        max-width: 1000px;
    }

    .scroll-animate-container {
        bottom: 17%; 
    }
}



@media (max-width: 1025px) {

    .hero-layout {
        gap: 24px;
        padding-top: 50px;
        padding-bottom: 150px;
    }

    .wave-container {
        bottom: -50px;
    }

    .scroll-animate-container {
        bottom: 18%; 
    }

    .hero-title h2 {
        font-size: 50px;
    }
    
    .hero-container img {
        height: 120px;
        width: 120px;
    }

    .wave {
        bottom: -100px;
    }
    
}

@media (max-width: 768px) {

    .wave-container {
        bottom: -20px;
    }

    .scroll-animate-container {
        bottom: 20%; 
    }

    .wave {
        bottom: -50px;
    }

    .hero-title h2 {
        font-size: 32px;
    }
    
    .hero-title p {
        font-size: 16px;
    }

    .hero-layout {
        padding-top: 50px;
        gap: 16px;
    }
    
    .hero-container img {
        height: 70px;
        width: 70px;
    }
    
    .hero-layout button {
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 14px;
        margin-right: 0;
    }
    
    .about-layout-one, .shape-animation-layout-one {
        gap: 36px;
    }

    .title-layout-content h2 {
        font-size: 26px;
    }

    .about-layout-one p, .shape-animation-layout-one p {
        font-size: 15px;
    }

    .about-layout-two {
        gap: 36px;
    }
    
    .about-layout-two h2 {
        font-size: 26px;
    }
    
    .about-layout-two p {
        font-size: 14px;
    }

    .about-layout-three {
        flex-direction: column;
        gap: 24px;
    }

    .about-layout-three img {
        max-height: 400px;
        align-self: center;
    }

    .layout-three-content {
        padding-top: 0;
        gap: 36px;
    }

    .layout-three-content h2 {
        font-size: 26px;
    }
    
    .layout-three-content p {
        font-size: 14px;
    }

    .instructor-card-header {
        font-size: 18px;
        margin-bottom: 16px;
    }
    
    .instructor-card-sub {
        font-size: 12px;
    }
    
    .instructor-card {
        gap: 16px;
    }
    
    .instructor-card img {
        width: 200px;
        height: 250px;
    }

    .footer-container img {
        height: 120px;
        width: 120px;
    }
    
    .footer-content {
        font-size: 12px;
      }
    
    .footer-copyright {
        font-size: 12px;
        height: 50px;
    }

  }

  @media (max-width: 426px) { 

    .sp {
        display: block;
    }
    .pc {
        display: none;
    }

    .schedule-list-container h1, .map-container h1, .shape-animation-container h1, .instructor-container h1 {
        font-size: 28px;
    }

    .hero-title h2, {
        font-size: 28px;
        white-space: pre-line;
    }

    .wave-container {
        bottom: -10px;
    }

    .title-layout-content h2 { 
        font-size: 20px;
    }

    .about-layout-two h2 {
        font-size: 20px;
    }
    
    .layout-three-content h2 {
        font-size: 20px;
    }

    .instructor-card { 
        flex-direction: column;
    }

    .instructor-card img {
        align-self: center;
    }

    .instructor-card-header {
        font-size: 18px;
        margin-bottom: 16px;
    }

    .scroll-animate-container {
        bottom: 12%; 
    }
    
    .instructor-card-sub {
        font-size: 14px;
    }
    .about-layout-two p {
        margin: auto;
    }
    .sm-font-14 {
        font-size: 14px;
    }
  }

  @media (max-width: 376px) {


    .hero-title h2 {
        font-size: 30px;
    }

    .title-layout-content h2 { 
        font-size: 18px;
    }

    .about-layout-one p, .shape-animation-layout-one p {
        font-size: 12px;
    }

    .about-layout-two h2 {
        font-size: 18px;
    }
    
    .about-layout-two p {
        font-size: 12px;
    }

    .layout-three-content h2 {
        font-size: 16px;
    }
    
    .layout-three-content p {
        font-size: 12px;
    }

    .footer-copyright {
        text-align: center;
    }
  }

  @media (max-width: 280px) {

    .hero-title h2 {
        font-size: 25px;
    }
  }


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

